@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.dark-theme {
  background-color: black;
  color: beige;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
body {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: beige;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: green;
  transform-origin: 0%;
}
